body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #1f1f1f;
    color: #f8a306;
    padding: 15px 0;
    width: 100%;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    position: relative;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #00bcd4;
    font-weight: bold;
}
/* Dropdown styles */
.dropdown {
    display: none;
    position: absolute;
    background-color: #1f1f1f;
    min-width: 450px;
    z-index: 1;
    top: 100%; /* Position below the parent */
    left: 0; /* Align to the left */
}

.dropdown li {
    display: block; /* Stack dropdown items */
    text-align: left;
}

nav ul li:hover .dropdown {
    display: block; /* Show dropdown on hover */
}

section {
    width: 60%;
    padding: 20px;
    margin: 20px 0;
    background: #1f1f1f;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #00bcd4;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #1f1f1f;
    color: #00bcd4;
    position: fixed;
    width: 100%;
    bottom: 0;
}

a {
    color: #00bcd4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

iframe {
    display: block;
    margin: 20px auto;
    border: none;
}